:root {
    --g1: rgb(0, 73, 111);
    --g2: rgb(0, 28, 64);
    --g3: rgb(71, 22, 57);
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

body {
    animation: background-pan 5s linear infinite;
    background: linear-gradient(to right,
            var(--g1),
            var(--g2),
            var(--g3),
            var(--g1));
    background-size: 200%;
    height: 100vh;
    overflow: hidden;
    margin: 0px;
}


body.toggled {
    animation: none;
}

body.toggled>#title {
    opacity: 0;
}

body.toggled>#icon {
    opacity: 1;
}

body.toggled>#tiles>.tile:hover {
    opacity: 0.1 !important;
}

.centered {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

#tiles {
    height: calc(100vh - 1px);
    width: calc(100vw - 1px);
    position: relative;
    z-index: 2;

    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: repeat(var(--rows), 1fr);
}

.tile {
    cursor: pointer;
    position: relative;
}

.tile:hover:before {
    background-color: rgb(30, 30, 30);
}

.tile:before {
    background-color: rgb(15, 15, 15);
    content: "";
    inset: 0.5px;
    position: absolute;
}

#title {
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: 6vw;
    margin: 0px;
    pointer-events: none;
    transition: opacity 500ms ease-in;
    width: 60vw;
    z-index: 3;
}

#title>.fancy {
    /* animation: background-pan 7s ease-in-out infinite; */
    background: linear-gradient(to right,
            var(--g1),
            var(--g2),
            var(--g3),
            var(--g1));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Dancing Script', cursive;
    font-size: 10vw;
    line-height: 0.9em;
}

#icon {
    color: rgba(255, 255, 255, 0.15);
    font-family: 'Silkscreen', cursive;
    font-size: 13vw;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1200ms ease;
    z-index: 1;
}